{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="content py-5">
            <h1 class="text-center">Admin list</h1>

            <a href="{{ path('employee_registration') }}">New admin</a>

            <table class="table mt-4">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                </thead>
                <tbody>

                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.id }}</td>
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.email }}</td>
                        <td>{{ admin.phone }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
