{% extends 'base.html.twig' %}

{% block title %}Doctor list{% endblock %}

{% block body %}

    <div class="container">

        <div class="content py-5">
            <h1 class="text-center">Examination list</h1>

            <table class="table mt-4">
                <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Doctor username</th>
                    <th>Client name</th>
                    <th>Date</th>
                    <th>Hour</th>
                    <th>Examination type</th>
                    <th>Result</th>
                    <th>Comment</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for examination in users %}
                    <tr>
                        <td>{{ examination.id }}</td>
                        <td>{{ examination.employee.username }}</td>
                        <td>{{ examination.user.username }}</td>
                        <td>{{ examination.date|date('Y:m:d') }}</td>
                        <td>{{ examination.hours }}</td>
                        <td>{{ examination.name|default('None') }}</td>
                        <td>{{ examination.result|default('Empty') }}</td>
                        <td>{{ examination.comment|default('Empty') }}</td>


                        {% if is_granted('ROLE_DOCTOR') %}
                            <td><a href="{{ path('edit_examination', {id: examination.id}) }}">Add comment</a></td>
                        {% endif %}
                        {% if is_granted('ROLE_USER') %}
                            <td><a href="{{ path('delete_examination', {id: examination.id}) }}">Cancel</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
