{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="content py-5">

                <h1 class="text-center">User visits</h1>

            <table class="table mt-4">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>2019-01-21</td>
                    <td>Otto</td>
                    <td><a class="col-5 btn btn-danger" href="{{ path('home') }}">Cancel</a></td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>2019-01-21</td>
                    <td>Thornton</td>
                    <td><a class="col-5 btn btn-danger" href="{{ path('home') }}">Cancel</a></td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>2019-01-21</td>
                    <td>the Bird</td>
                    <td><a class="col-5 btn btn-danger" href="{{ path('home') }}">Cancel</a></td>

                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>2019-01-21</td>
                    <td>Otto</td>
                    <td><a class="col-5 btn btn-danger" href="{{ path('home') }}">Cancel</a></td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>2019-01-21</td>
                    <td>Thornton</td>
                    <td><a class="col-5 btn btn-danger" href="{{ path('home') }}">Cancel</a></td>

                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>2019-01-21</td>
                    <td>the Bird</td>
                    <td><a class="col-5 btn btn-danger" href="{{ path('home') }}">Cancel</a></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
